{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>{% block head_title %}TaxIQ{% endblock %}</title>
    {% include 'modif/css.html' %}
</head>

<body>
    <header class="bg-red z-50 fixed top-0 w-full shadow">
        <nav id="main-nav" class="bg-white max w-5xl mx-auto p-6 flex items-center justify-between">
            <a href="top" aria-label="Page d'accueil du site">
                <span class="text-lg lg:text-xl justify-center" aria-hidden="true">
                    Tax <strong><span class="text-rose-600">IQ</span></strong>
                </span>
            </a>
            
            <button aria-label="toggle button" aria-expanded="false" id="menu-btn" class="cursor-pointer w-7 md:hidden text-xs">
                <i class='bx bxs-objects-horizontal-right'></i>
            </button>
    
            <ul id="toggle-menu" class=" absolute top-full left-0 -translate-y-full -z-10 text-gray-800 borde-b border-gray-200 flex flex-col items-center md:static md:z-10 md:w-win md:transform-none md:border-none md:flex-row">
                <li class="py-4 md:py-0 md:mr-6">
                    <a href="#" class="text-sm uppercase font-semibold w-full hover:text-rose-600">Accueil </a>
                </li>
                <li class="py-4 md:py-0 md:mr-6">
                    <a href="#" class="text-sm uppercase font-semibold w-full hover:text-rose-600">Services</a>
                </li>
                <li class="py-4 md:py-0 md:mr-6">
                    <a href="#" class="text-sm uppercase font-semibold w-full hover:text-rose-600">Informations</a>
                </li>
                <li class="py-4 md:py-0 md:mr-6">
                    <a href="#" class="text-sm uppercase font-semibold w-full hover:text-rose-600">aide</a>
                </li>
                <li class="py-4 md:py-0 md:mr-6">
                    <a href="#" class="text-sm uppercase font-semibold w-full hover:text-rose-600">Connexion</a>
                </li>
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}
</body>
</html>